.login-btn:hover .bi.bi-person-circle {
  transform: scale(1.2);
}

.login-icon.bi.bi-person-circle {
  transition: 0.4s transform ease-in;
}

#SearchBarInput {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 3px;
  left: 3px;
  opacity: 0;
}
.add-to-cart:hover {
  cursor: pointer;
}
.add-to-cart {
  bottom: 10px;
  right: 20px;
}


.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 400;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 40px;
  }
  .featurette-description{
    font-size: 20px;

  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 1rem;
  }
}
