{% extends 'base.html' %}
<!-- macro for inputerrors -->
{% block content %} {% macro with_errors(field) %} {% if field.errors %} {% set
css_class = 'form-control form-control-lg is-invalid ' + kwargs.pop('class', '')
%} {{ field(class=css_class, **kwargs) }}
<div class="invalid-feedback">
  {% for error in field.errors %}
  <small>{{ error|e }}</small>
  {% endfor %}
</div>

{% else %} {{ field(**kwargs) }} {% endif %} {% endmacro %}

<!-- macro for seperate input groups -->
{% macro formgroup(name="", input="", col=12, value="", placeholder="",
class="form-control border border-2 border-dark") %}
<div class="col-lg-{{col}} form-group">
  <div class="input-group mb-3">
    <span
      class="input-group-text bg-dark text-light border border-2 border-dark"
      >{{name}}
    </span>
    {{with_errors(input, class=class, value=value, placeholder=placeholder) }}
  </div>
</div>
{% endmacro %}


<div class="container">
{{current_user.username, current_user.first_name}}

</div>
<div class="container m-5 mx-auto">
  <form action="" method="POST" enctype="multipart/form-data" class="row g-3">
    {{ update_form.hidden_tag() }}
    <legend class="border-bottom mb-4 fw-bolder">Account Info</legend>


    <!-- username -->
    {{formgroup(input=update_form.username, name="Username", col=12,
    value=current_user.username, placeholder="Your username goes here!")}}
    <!-- firstname -->
    {{formgroup(input=update_form.first_name, name="First Name", col=6,
    value=current_user.first_name, placeholder="Your first name goes here!")}}

    <!-- lastname -->
    {{formgroup(input=update_form.last_name, name="Last Name", col=6,
    value=current_user.last_name, placeholder="Your last name goes here!")}}
    <!-- address -->
    {{formgroup(input=update_form.address, name="Address", col=12,
    value=current_user.address, placeholder="Where do you live?")}}
    <!-- city -->
    {{formgroup(input=update_form.city, name="City", col=4,
    value=current_user.city, placeholder="Where do you live?")}}
    <!-- country -->
    {{formgroup(input=update_form.country, name="Country", col=2,
    value=current_user.country, placeholder="Not much choice, is there?",
    class="form-control form-select border border-2 border-dark")}}
    <!-- email -->
    {{formgroup(input=update_form.email, name="Email", col=8,
    value=current_user.email, placeholder="How can we contact you?")}}
    <!-- creditcard number -->
    {{formgroup(input=update_form.cc_number, name="CreditCard #", col=4,
    value=current_user.cc_number, placeholder="xxxx-xx-xxx-xx")}}

    <div class="form-group mt-4">
      {{ update_form.update(class="btn btn-warning text-dark fw-bolder") }}
    </div>
  </form>
</div>

{% endblock content %}
