<!-- Account Navigation -->
<nav class="navbar navbar-light bg-light container w-50">
  <form class="container-fluid justify-content-start">
    <a
      href="{{url_for('account')}}"
      class="btn btn-sm btn-outline-warning text-dark me-2 fw-bold border-2"
      type="button"
      role="button"
      >Change Profile</a
    >
    <a
      href="{{url_for('add_product')}}"
      class="btn btn-sm btn-outline-warning text-dark me-2 fw-bold border-2"
      type="button"
      role="button"
      >Add Product</a
    >
  </form>
</nav>
