<!-- macro for seperate input groups -->
{% macro formgroup(name="", input="", col=12, value="", placeholder="",
class="form-control border border-2 border-secondary") %}
<div class="form-group col-md-{{col}}">
  <div class="input-group input-group-sm">
    <span
      class="
        input-group-text
        bg-secondary
        text-light
        border border-2 border-secondary
      "
      >{{name}}
    </span>
    {{with_errors(input, class=class, value=value, placeholder=placeholder) }}
  </div>
</div>
{% endmacro %}

<div class="container p-0 py-4 mx-auto">
  <form
    action="{{url_for('update_account')}}"
    method="POST"
    enctype="multipart/form-data"
    class="row g-3"
  >
    {{ update_account_form.hidden_tag() }}
    <div class="d-flex">
      <legend class="fw-bolder">Account Info</legend>
    </div>

    <!-- username -->
    {{formgroup(input=update_account_form.username, name="Username",
    value=current_user.username, placeholder="Your username goes here!")}}
    <!-- firstname -->
    {{formgroup(input=update_account_form.first_name, name="Name",
    value=current_user.first_name, placeholder="Name!")}}

    <!-- lastname -->
    {{formgroup(input=update_account_form.last_name, name="Surname",
    value=current_user.last_name, placeholder="Name!")}}
    <!-- address -->
    {{formgroup(input=update_account_form.address, name="Address",
    value=current_user.address, placeholder="Where do you live?")}}
    <!-- city -->
    {{formgroup(input=update_account_form.city, name="City",
    value=current_user.city, placeholder="Where do you live?")}}
    <!-- country -->
    {{formgroup(input=update_account_form.country, name="Country",
    class="form-control form-select border border-2 border-secondary")}}
    <!-- email -->
    {{formgroup(input=update_account_form.email, name="Email",
    value=current_user.email, placeholder="How can we contact you?")}}
    <!-- creditcard number -->
    {{formgroup(input=update_account_form.cc_number, name="CreditCard #",
    value=current_user.cc_number, placeholder="xxxx-xx-xxx-xx")}}

    <span class="form-group mt-4" role="button">
      {{ update_account_form.update(class="btn btn-dark text-warning fw-bolder")
      }}
    </span>
  </form>
</div>
