{% extends 'base.html' %}
<!-- macro for inputerrors -->
{% block content %} {% macro with_errors(field) %} {% if field.errors %} {% set
css_class = 'form-control form-control-lg is-invalid ' + kwargs.pop('class', '')
%} {{ field(class=css_class, **kwargs) }}
<div class="invalid-feedback">
  {% for error in field.errors %}
  <small>{{ error|e }}</small>
  {% endfor %}
</div>

{% else %} {{ field(**kwargs) }} {% endif %} {% endmacro %}

<!-- macro for seperate input groups -->
{% macro formgroup(name="", input="", col=12, value="", placeholder="",
class="form-control border border-2 border-secondary") %}
<div class="col-lg-{{col}} form-group">
  <div class="input-group mb-3">
    <span
      class="
        input-group-text
        bg-secondary
        text-light
        border border-2 border-secondary
      "
      >{{name}}
    </span>
    {{with_errors(input, class=class, value=value, placeholder=placeholder) }}
  </div>
</div>
{% endmacro %}

<!-- Account Navigation -->

{% include "account_info_form.html" %} 


{% endblock content %}
