{% extends 'base.html' %}
<!-- macro for inputerrors -->
{% block content %} {% macro with_errors(field) %} {% if field.errors %} {% set
css_class = 'form-control form-control-lg is-invalid ' + kwargs.pop('class', '')
%} {{ field(class=css_class, **kwargs) }}
<div class="invalid-feedback">
  {% for error in field.errors %}
  <small>{{ error|e }}</small>
  {% endfor %}
</div>

{% else %} {{ field(**kwargs) }} {% endif %} {% endmacro %}

<!-- macro for seperate input groups -->
{% macro account_form_group(name="", input="", col=12, value="", textinfo="",
class="form-control border border-2 border-secondary") %}
<div class="form-group col-md-{{col}}">
  <div class="input-group input-group-sm">
    <span
      class="
        input-group-text
        bg-secondary
        text-light
        border border-2 border-secondary
      "
      >{{name}}
    </span>
    {{with_errors(input, class=class, value=value) }}
  </div>
  <div class="form-text">{{textinfo}}</div>
</div>
{% endmacro %}

<!-- Delete AccountModal -->
{% include "modal_delete_account.html" %}

<!-- Delete All Products Modal -->
{% include "modal_delete_all_products.html" %}



{% include 'account_navbar.html' %}
<h1 class="text-center fs-5 bg-dark text-secondary py-3">
  {% if products|length == 1 %}
  You currently have {{ products|length }} product to sell.
  {% else %}
  You currently have {{ products|length }} products to sell.
  {% endif %}
</h1>

<div class="container mb-3">
  
   
       
    
  <div class="album mt-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
      {% for product in products %}
<!-- delete product modal -->
      {% include "modal_delete_product.html" %}
<!-- start product featurette -->
      <div class="col">
        <div class="card shadow-sm">
          <svg
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="40%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
    
          <div class="card-body h-100">
            <div class="d-flex justify-content-between">
              <h3>{{ product.name }}</h3>
    
              <h3>€ {{ "%.2f"|format(product.price_per_unit) }}</h3>
            </div>
            <ul class="d-flex p-0 mb-0">
              {% for producttags in product.tags %}
              <span class="pe-1 fs-small"> {{producttags.tag.name}}</span>
    
              {% endfor %}
            </ul>
            <div class="d-flex text-warning py-1">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill mx-1"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-half"></i>
            </div>
            <h6 class="text-muted my-0 mt-1 mb-2">
              Products available: {{product.stock}}
            </h6>
    
            <p class="card-text mt-2" style="min-height: 70px">
              Description: {% if product.description %} {{ product.description
              }} {% else %} You haven't added a description to this product yet. {% endif
              %}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{url_for('update_product_page', product_id=product.id)}}" class="btn btn-secondary"><i class="bi bi-pencil-fill"></i></a>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteProductModal{{product.id}}"
                >
                  <i class="bi bi-trash-fill"></i>
                 </button>
              </div> 
              
                
              </a>
              <div class="text-muted fs-small m-0 p-0">
                
                <p class="m-0">Since {{product.date_posted[0:10]}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      {% endfor%}
    </div>
  </div>
  <div class="border my-5"></div>
  {% if products | length  >= 1%}
  <button
  type="button"
  class="btn btn-danger"
  data-bs-toggle="modal"
  data-bs-target="#deleteAllProductsModal"
>
  Delete All Products
 </button>
 {% endif %}
</div>
<!-- add product form -->
{% endblock content %}
