<!-- macro for seperate input groups -->

{%- macro product_form_group(name="", input="", col=12, value="",id="",
infotext="", class="form-control border border-2 border-secondary") -%}
<div class="col-lg-{{col}} form-group">
  <div class="input-group input-group-sm">
    <span
      class="
        input-group-text
        bg-secondary
        text-light
        border border-2 border-secondary
      "
      >{{name}}
    </span>
    {{with_errors(input, class=class, value=value, id=id) }}
  </div>
  <div class="form-text">{{infotext}}</div>
</div>
{%- endmacro -%}
<!-- endmacro -->
<div class="container p-0 py-4 mx-auto">
  <form action="{{url_for('add_product')}}" method="POST" class="row g-3 me-4">
    {{ add_product_form.hidden_tag() }}
    <div class="d-flex justify-content-between">
      <h4 class="mb-2 fw-bolder">Add Product</h4>
      <span class="form-group" role="button">
        {{ add_product_form.add_product(class="btn btn-dark text-warning
        fw-bolder") }}
      </span>
    </div>

    <!-- productname -->
    {{product_form_group(input=add_product_form.name, name="Product Name")}}
    <!-- price_per_unit -->
    {{product_form_group(input=add_product_form.price_per_unit, name="€",
    infotext="Seperate cents with dot : 10.00")}}
    <!-- amount_to_add -->
    {{product_form_group(input=add_product_form.amount_to_add,
    name="Quantity",infotext="How many do you want to add?", class="form-control
    form-select border border-2 border-secondary")}}
    <!-- tags -->
    {{product_form_group(input=add_product_form.tags, name="Category",
    infotext="Separate Categories By Spaces")}}
    <!-- description -->
    {{product_form_group(input=add_product_form.description, name="Description",
    infotext="Whatcha selling?")}}
    <!-- add_product -->
  </form>
</div>
