{% for product in products %}
<!-- DeleteProductModal -->
<div
  class="modal fade"
  id="deleteProductModal{{product.id}}"
  tabindex="-1"
  aria-labelledby="deleteProductModal{{product.id}}Label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProductModal{{product.id}}Label">
          Delete {{product.name}}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete
          <span class="fw-bold text-dark fs-5">{{product.name}}</span>?
        </p>
        <p>
          You still have
          <span class="fw-bold fs-3">{{product.stock}}</span> left to sell.
        </p>
      </div>
      <div class="modal-footer">
        <a
          href="{{url_for('delete_product', product_id=product.id)}}"
          role="button"
          type="button"
          class="btn btn-danger"
          >Yes, stop asking.</a
        >
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No, I misclicked
        </button>
      </div>
    </div>
  </div>
</div>
<!-- start product featurette -->

<div class="row featurette mt-5">
  <div class="col-md-7 order-md-2">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="featurette-heading text-capitalize mt-0">{{product.name}}</h1>
      <h3>€ {{ "%.2f"|format(product.price_per_unit) }}</h3>
    </div>
    <div class="d-flex text-warning">
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill mx-1"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-half"></i>
    </div>
    <h5 class="text-muted my-0 mt-1">Products available: {{product.stock}}</h5>
    <small class="text-muted"
      >Added @ {{format_string(product.date_posted)}}</small
    >
    <h6 class="lead featurette-description mt-3">Description:</h6>
    <p class="m-0">
      {{product.description}} {% if product.description%} {% else%} This product
      does not have a description yet. Quasi omnis animi voluptate accusantium
      hic ad qui doloremque placeat vero expedita debitis rem est, molestias
      voluptatibus nam quod, et, quos quidem laudantium iusto esse provident
      eius. Ullam deleniti laudantium iusto numquam et ducimus repellat,
      maiores, doloremque, ratione consequuntur reiciendis aspernatur inventore?
      {% endif%}
    </p>
    <small class="mt-2 text-primary" style="font-weight: 500"
      >Sold by: {{product.owner.username}}</small
    >
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#deleteProductModal{{product.id}}"
    >
      {{product.id}}
      <i class="bi bi-trash-fill"></i>
    </button>
  </div>
  <div class="col-md-5 order-md-1">
    <svg
      class="
        bd-placeholder-img bd-placeholder-img-lg
        featurette-image
        img-fluid
        mx-auto
      "
      width="500"
      height="500"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-label="Placeholder: 500x500"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
      <title>{{product.name}}</title>
      <rect width="100%" height="100%" fill="#eee" />
      <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
    </svg>
  </div>
</div>

<hr class="featurette-divider" />
{% endfor %}
