{% extends "base.html" %} {% block content %}

<div class="container py-5">
  <div class="p-5 mb-4 bg-light rounded-3 join-now-banner">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold text-white">Join Betsy!</h1>
      <p class="col-md-8 fs-4 text-white">
        Betsy's has one of the best products out there. Come join us and enjoy
        over a gazillion different homemade products.
      </p>
      <button
        class="btn btn-warning btn-lg"
        type="button"
        href="#registerModalToggle"
        data-bs-toggle="modal"
      >
        Join Now!
      </button>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6 mb-4">
      <div class="h-100 p-5 text-white bg-dark rounded-3 shop-in-style-banner">
        <h2>Shop in style</h2>
        <p>
          Swap the background-color utility and add a `.text-*` color utility to
          mix up the jumbotron look. Then, mix and match with additional
          component themes and more.
        </p>
        <a
          href="{{url_for('search_results', search_term='All', search_tag='All')}}"
          role="button"
          class="btn btn-outline-light"
          type="button"
          >Shop Now!</a
        >
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="h-100 p-5 text-white bg-light border rounded-3 sale-banner">
        <h2>Check out the sales!!!</h2>
        <p>
          Or, keep it light and add a border for some added definition to the
          boundaries of your content. Be sure to look under the hood at the
          source HTML here as we've adjusted the alignment and sizing of both
          column's content for equal-height.
        </p>
        <a
          href="{{url_for('search_results', search_term='All', search_tag='All')}}"
          role="button"
          class="btn btn-secondary"
          type="button"
          >Discount!</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock content %}
