<nav
  class="navbar navbar-expand-md navbar-light bg-light sticky-top"
  
>
  <div class="container">
    <a class="navbar-brand" href="{{url_for('home') }}"
      ><img
        src="{{url_for('static', filename='assets/brand.svg')}}"
        alt=""
        width="40"
        class="d-inline-block align-text-top"
    /></a>
   
  
        <!-- search bar -->
        {% include "searchbar.html" %}
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4 mx-2">
        {% if current_user.is_authenticated %}

        <li class="nav-item dropdown">             
          <div class="profile-icon-container" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false" >
                <i class="bi bi-person-circle mx-3 profile-icon"></i>
          </div>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{{ url_for('account') }}"
                >Account</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
            <li>
              <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
            </li>
          </ul>
        </li>
        <form class="d-flex">
          <i class="bi bi-basket-fill" style="font-size: 2rem"></i>
        </form>

        {% else %}

        <li
          class="nav-link fw-bolder d-flex align-items-center login-btn"
          data-bs-toggle="modal"
          href="#loginModalToggle"
          role="button"
        >
          <i
            class="bi bi-person-circle mx-3 login-icon"
            style="font-size: 2rem"
          ></i>
          <a class="nav-link" role="button">Login</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% if not current_user.is_authenticated %} {% include "modal_login_register.html" %} {% endif
%}
