

<form action="{{url_for('search')}}" method="POST" class="container ms-4">
  {{ search_term_form.hidden_tag() }}
  <div class="input-group row">
    <span
      class="
        input-group-text
        bg-dark
        col-1
        border border-2 border-dark border-end-0
      "
      style="max-width: 40px"
    >
      {{search_term_form.submit(id="SearchBarInput")}}

      <i class="bi bi-search" style="color: white"></i
    ></span>

    {{search_term_form.search_term(class="position-relative form-control col-8
    rounded-0 btn-dark bg-light text-dark border-2 border-start-0",
    placeholder="Search")}}
  </div>
</form>


<form action="{{url_for('search')}}" method="POST" class="container ms-4">
  {{ search_tag_form.hidden_tag() }}
  <div class="input-group row">
    <span
      class="
        input-group-text
        bg-dark
        col-1
        border border-2 border-dark border-end-0
      "
      style="max-width: 40px"
    >
      {{search_tag_form.submit(id="SearchBarInput")}}

      <i class="bi bi-search" style="color: white"></i
    ></span>

    {{search_tag_form.search_tag(class="position-relative form-control col-8
    rounded-0 btn-dark bg-light text-dark border-2 border-start-0",
    placeholder="Search")}}

    


  </div>
</form>
